button{
    margin: 0;
    padding: 0.5em 1em 0.5em 1em;
    border-style: none;
    box-sizing: border-box;
}
.btn-ok{
    background-color: cornflowerblue;
    color: white;
}
.btn-cancle{
    background-color: crimson;
    color: white;
}
button:hover{
    cursor: pointer; /* 마우스 올리면 마우스 커서 나오는 행동 */
}
.btn-ok:hover{
    background-color: rgb(73, 131, 239);
}
.btn-cancle:hover{
    background-color: rgb(203, 6, 46);
}

button.block{
    display: block;
    width: 100%;
}


input.input-text{
    padding: 0.5em 0.5em 0.5em 0.5em;
    outline-style: none; /* 활성화 될 때 테두리 제거 */
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
}
input.input-text:hover,
input.input-text:focus{
     /* focus 는 입력 활성화 될 때 행동 */
    border-color: rgb(73, 131, 239);
    border-style: solid;
    border-radius: 5px;
}
.input-text.block{
    width:100%;
}

/* input-check, input-radio 버튼 숨기고 직접 만들기 */
.input-check,
.input-radio{
    display: none;
}
.check-form{
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(128, 128, 128);
    width: 10px;
    height: 10px;
}
.radio-form{
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(128, 128, 128);
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

/* 형제관계 선택자 활용 
   ( ~ 은 input-check 이 후 같은 수평라인이면 모두 적용 가능
     + 는 input-check 이 후 같은 수평라인 중 바로 인접한 형제만 적용 가능 
     .input-check:checked + .check-form 도 가능함(hmtl 보면 바로 인접하고 있어서 )

    및 checked 되면 행동 */
.input-check:checked ~ .check-form{
    background-color: rgb(73, 131, 239);
    border-color: rgb(73, 131, 239); 
    position: relative;
}
.input-radio:checked ~ .radio-form{
    background-color: rgb(73, 131, 239);
    border-color: rgb(73, 131, 239); 
    position: relative;
}

/* checked 된 .check-form / .radio-form 나타난 후 content 행동 */
.input-check:checked ~ .check-form:after{
    content: "√"; /* ㄷ + 한자 */
    position: absolute;
    left: 1px; top: -7px;
    color: white;
}
.input-radio:checked ~ .radio-form:after{
    content: "●"; /* ㅁ + 한자 */
    font-size: 0.5em;
    position: absolute;
    left: 0px; top: -3px;
    color: white;
}